body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea url('../images/bg.png');
	color: #4d4d4d;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix{
	*zoom:1; 
}
.clearfix:after{
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
	clear: both;
}

a {
    color: #00B7FF;
    text-decoration: none;
}
.bgcolor-1 { background: #f0efee; }
.bgcolor-2 { background: #f9f9f9; }
.bgcolor-3 { background: #e8e8e8; }/*light grey*/
.bgcolor-4 { background: #2f3238; color: #fff; }/*Dark grey*/
.bgcolor-5 { background: #df6659; color: #521e18; }/*pink1*/
.bgcolor-6 { background: #2fa8ec; }/*sky blue*/
.bgcolor-7 { background: #d0d6d6; }/*White tea*/
.bgcolor-8 { background: #3d4444; color: #fff; }/*Dark grey2*/
.bgcolor-9 { background: #ef3f52; color: #fff;}/*pink2*/
.bgcolor-10{ background: #64448f; color: #fff;}/*Violet*/
.bgcolor-11{ background: #3755ad; color: #fff;}/*dark blue*/
.bgcolor-12{ background: #3498DB; color: #fff;}/*light blue*/

.error {
    color: red
}
.success {
    color: green;
}

#content{
	position: relative;
}
.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

.waterfall {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	/* -moz-column-width: 24em;
	-webkit-column-width: 24em;
	column-width: 24em; */
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
}

.waterfall .pin {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	-moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);

	margin: 0 0.125em 1em;
	padding: 1em;
	width: 100%;
	transition: opacity .4s ease-in-out;
  	display: inline-block;

  	-moz-page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	cursor:pointer;
}

.waterfall .pin img.pinimg {
	width: 100%; 
	height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 1em;
	margin-bottom: 0.5em;
}

.waterfall .pin figcaption a{
  	font-size: .9rem;
	color: #444;
  	line-height: 1.5;
}

.waterfall small { 
  	font-size: 1rem;
  	float: right; 
  	text-transform: uppercase;
  	color: #aaa;
} 

.waterfall small a { 
  	color: #666; 
  	text-decoration: none; 
  	transition: .4s color;
}

.waterfall:hover .pin:not(:hover) {
	opacity: 0.4;
}
.waterfall:hover .pin:hover {
    border-left: 6px solid #1b98f8;
}

.addBlog {
    display: block;
    font-weight: bold;
    border: 2px dashed silver;
    text-align: center;
    font-size: 5em;
    line-height: 1.5em;
    width: 100%;
    position: relative;
    background-color: transparent;
    text-decoration:none;
    color:silver;
}
/* post form */
.page {
	background: #fefefe;
	-moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);

	margin: 1em 0;
	
	width: 100%;
  	-moz-page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}
.page .page-header{
	background-color: silver;
	color:white;
	height:3em;
}
.page .page-content{
	padding: 1em;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.label-light-red, .label-pink, .label-yellow, .label-blue, .label-green, 
.label-dark-green, .label-dark-blue, .label-light-gray, .label-purple {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}
.label-pink{
    background: #F1A4B8;
}
.label-yellow{
    background: #ffc94c;
}
.label-blue{
    background: #41ccb4;
}
.label-green{
    background: #40c365;
}
.label-dark-green{
    background-color: #5aba59;
}
.label-dark-blue{
    background-color: #4d85d1;
}
.label-light-red{
    background-color: #df2d4f;
}
.label-light-gray{
    background-color: #999;
}
.label-purple{
    background-color: #8156a7;
}

.label-count {
    color: rgb(75, 113, 151);
}
/*  */
#menu .nav-item{
    display: inline-block;
}
#menu .nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
    padding:.5em 1em;
}
/* Blog Item Styles */
.waterfall .pin.blog-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
.blog-avatar {
    border-radius: 3px;
    margin-right: 0.5em;
}
.blog-author, .blog-subject {
    margin: 0;
}
.blog-author {
    text-transform: uppercase;
    color: #999;
}
.blog-desc {
    font-size: 80%;
    margin: 0.4em 0;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
/* Blog Content Styles */
.blog-content-header, .blog-content-body, .blog-content-footer {
    padding: 1em 2em;
    /* 加padding阻止外边距折叠, 触发bfc亦可*/
    /* overflow: auto; */
}
.blog-content-header {
    border-bottom: 1px solid #ddd;
}
.blog-content-title {
    margin: 0.5em 0 0;
    line-height: 38px;
}
.blog-content-subtitle {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}
.blog-content-subtitle span {
    color: #999;
}
.blog-content-controls {
    margin-top: 2.5em;
    text-align: right;
}
.blog-content-controls .secondary-button {
    margin-bottom: 0.3em;
}
.blog-avatar {
    width: 40px;
    height: 40px;
}
a.blog-author{
    color: #1b98f8;
}
/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

#info {
	margin: 5em auto 0;
	color: #a6a6a6;
	font-size: .9em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align: center;
}

#info a {
	color: inherit;
}
img.hover(:hover) {
    box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    -moz-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    -webkit-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    filter: progid:DXImageTransform.Microsoft.Shadow(color = #979797, direction = 135, strength = 3);
} 

/* .animatePopUp {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
} */

.animate-pop-up.ng-enter,
.animate-pop-up-enter {
	-webkit-animation: pop-up-enter .8s ease-in forwards;
	animation: pop-up-enter .8s ease-in forwards;
}
.animate-pop-up.ng-leave,
.animate-pop-up-leave {
	-webkit-animation: pop-up-leave .8s ease-in forwards;
	animation: pop-up-leave .8s ease-in forwards;
}
@-webkit-keyframes pop-up-enter {
	0% {-webkit-transform: scale(0.4);transform: scale(0.4);opacity: 0;}
	70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes pop-up-enter {
	0% {-webkit-transform: scale(0.4);transform: scale(0.4);opacity: 0;}
	70% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}
@-webkit-keyframes pop-up-leave {
	0% {-webkit-transform: scale(1); opacity: 1;}
	70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
	100% {-webkit-transform: scale(0.4);transform: scale(0.4);opacity: 0;}
}

@keyframes pop-up-leave {
	0% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
	70% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	100% {-webkit-transform: scale(0.4);transform: scale(0.4);opacity: 0;}
}


/* ng-view */
.slide-in {
    width: 100%;
    height: 100%;
}
.slide-in.ng-enter,
.slide-in.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide-in.ng-enter {
    transform:translateX(100%);
}
.slide-in.ng-enter-active {
    transform:none;
}
.slide-in.ng-leave {
    transform:none;
}
.slide-in.ng-leave-active {
    transform:translateX(-100%);
}
/* Slide-down */
.slide-down {
    width: 100%;
    height: 100%;
}
.slide-down.ng-enter,
.slide-down.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide-down.ng-enter {
    transform:translateY(-100%);
}
.slide-down.ng-enter.ng-enter-active {
    transform:none;
}
.slide-down.ng-leave {
    transform:none;
}
.slide-down.ng-leave.ng-leave-active {
    transform:translateY(100%);
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

/* Navigation */
nav.slideshow a {
    position: fixed;
    z-index: 1000;
    color: #59656c;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
    padding: 0.5em 0.5em;
}

nav.slideshow a.nav-prev,
nav.slideshow a.nav-next {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
nav.slideshow a.nav-prev {
    
}
nav.slideshow a.nav-next {
    right: 0;
}

nav.slideshow a.nav-close {
    top: 0;
    right: 0;
}
nav.slideshow a.nav-edit {
    top: 0;
    right: 3em;
}
@media screen and (max-width: 60em) {
	.waterfall { 
  		column-gap: 0px; 
  		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
  	}
  	.slideshow figure {
        top: 0;
        left: 0;
        margin: 0;
    }
    .slideshow figure img {
        width: auto;
        margin: 0 auto;
        max-width: 100%;
    }
    .slideshow nav span,
    .slideshow nav span.nav-close {
        font-size: 1.8em;
        padding: 0.3em;
    }
}


@media screen and (max-width: 40em) {
	.waterfall { 
  		column-gap: 0px; 
  		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
  	}
}

@media screen and (max-width: 30em) {
    .waterfall { 
  		column-gap: 0px; 
  		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
  	}
}