.container
    section.blog-content
        header.blog-content-header
            h1.blog-content-title Contact Me
        section.blog-content-body
            article.contact-content
                p OK, I am a programmer, or code farmer now, I am going to be an engineer...
                p Email: 1317203071@qq.com or caihuabin@outlook.com
                p Github: 
                    a(href='https://github.com/icyse') https://github.com/icyse