.container
    section.blog-content
        header.blog-content-header
            h1.blog-content-title About MEAN-BLOG
        section.blog-content-body
            article.about-content
                p MEAN-BLOG is a blog project written in MEAN - MongoDB, ExpressJS, AngularJS, NodeJS, And Redis. 
                p It is a Full-Stack JavaScript project. You can click this 
                    a(href='https://github.com/icyse/mean-blog') [https://github.com/icyse/mean-blog] 
                    | to find all the lastest source code. What I hope is that you can support my work. Such as starring the project, pulling requests and so on.
                p By the way, this project is base on my another project named MEAN, which is a full-stack Javascript starting skeleton using MEAN - MongoDB, Express, AngularJS, Node.js, and Redis. You can click this
                    a(href='https://github.com/icyse/mean') [https://github.com/icyse/mean] 
                    | to get it.