.container
    section.blog-content
        header.blog-content-header.pure-g
            div.pure-u-1-2
                h1.blog-content-title {{ post.title }}
                p.blog-content-subtitle
                    | By 
                    a.blog-author {{ post.user.username }} 
                    | at 
                    span {{ post.createdTime }}
                p.blog-content-source(ng-if='!!post.source')
                    | From 
                    a(href='{{ post.url }}') {{ post.source }}

            div.blog-content-controls.pure-u-1-2
                button.secondary-button.pure-button Reply {{ post.replyCount }}
                button.secondary-button.pure-button View {{ post.viewCount }}
                button.secondary-button.pure-button Vote {{ post.voteCount }}
        section.blog-content-body
            div.blog
                p.blog-summary {{ post.summary }}
                div.markdown-content(mark-down, ng-bind-html='previewContent')
    nav.slideshow
        a.nav-close(ng-href='/#/blog')
            span.icon-cancel
        a.nav-edit(ng-href='/#/blog/edit/{{post._id}}')
            span.icon-edit