.container
    section.blog-content
        header.blog-content-header.pure-g
            div.pure-u-2-3
                h2.blog-content-title {{ post.title }}
                p.blog-content-subtitle
                    | By 
                    a.blog-author {{ post.user.username }} 
                    | at 
                    span {{ post.createdTime }}
                p.blog-content-source(ng-if='!!post.source')
                    | From 
                    a(href='{{ post.url }}') {{ post.source }}

            div.blog-content-controls.pure-u-1-3
                button.secondary-button.pure-button(scroll-into='commentText', ng-click='scrollInto()') Reply {{ post.commentCount }}
                button.secondary-button.pure-button View {{ post.viewCount }}
                button.secondary-button.pure-button(ng-click='vote()', class='{{ !!currentUser && post.voteList.indexOf(currentUser._id)===-1 ? "" : "active" }}') Vote {{ post.voteCount }}
        section.blog-content-body
            div.blog
                p.blog-summary {{ post.summary }}
                div.markdown-content(mark-down, ng-bind-html='previewContent')
        footer.blog-content-footer
            header.blog-comment-header
            section.blog-comment-content
                div
                    div.cell.animate-pop-up(ng-repeat='comment in post.commentList')
                        div.comment-box
                            div.avatar
                                a(ng-href='/#/user/{{comment.user._id}}')
                                    img(ng-src='{{comment.user.avatar}}')
                            div.detail
                                div.comment-content.typo {{comment.content}}
                                div.comment-info
                                    span.info-item
                                        i.icon-user
                                        a(ng-href='/#/user/{{comment.user._id}}') {{comment.user.username}}
                                    span.info-item
                                        i.icon-clock
                                        span {{comment.createdTime.substring(0,10)}}
                                    span.pull-right.action
                                        i.icon-comment-1
                                        span Reply
                    div.cell
                        form.pure-form.pure-form-stacked(method='post', name='commentForm', ng-controller='CommentCtrl', ng-submit='save()', novalidate)
                            textarea#commentText.pure-input-1(name='content', rows='6', placeholder='Please sign in to submit the comment', ng-disabled='!currentUser', ng-model='comment.content', required)
                            input.pure-button.pure-button-primary(type='submit', value='Reply', ng-disabled='commentForm.content.$invalid || !currentUser')
    nav.slideshow
        a.nav-close(ng-href='/#/blog')
            span.icon-cancel
        a.nav-edit(ng-href='/#/blog/edit/{{post._id}}')
            span.icon-edit